.sidenav{
    height: 100vh;
    width: 256px;
    position: fixed;
    z-index:1;
    left:0;
    background-color:black;
    overflow-x:hidden;
    padding-top:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}